
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F4DD98;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 11rem;
    width: 133.3rem;
    border-radius: 0 0 30px 30px;
    position: absolute;
    z-index: 10;
}


.logo{
    margin-left: 40px;
    font-size: 3rem;
    font-weight: bolder;
    color: #B81926;
}
.logo .link{
    text-decoration: none;

}
.link-list{
    display: flex;
    gap: 9rem;
    margin-right: 40px;
}
.link{
    text-decoration: none;
    color: #B81926;
    font-size: 1.7rem;
}

.avatar{
    font-size: 3rem;
}